<a href="https://colab.research.google.com/github/Robke1986/AcademyPublic/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# hello

In [9]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/avikpaul4u/vehicle-loan-default-prediction
!kaggle datasets download -d avikpaul4u/vehicle-loan-default-prediction
!unzip vehicle-loan-default-prediction.zip
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle.json
Downloading vehicle-loan-default-prediction.zip to /content
  0% 0.00/11.6M [00:00<?, ?B/s]
100% 11.6M/11.6M [00:00<00:00, 229MB/s]
Archive:  vehicle-loan-default-prediction.zip
  inflating: Data Dictionary.xlsx
  inflating: test.csv
  inflating: train.csv
Downloading red-wine-quality-cortez-et-al-2009.zip to /content
  0% 0.00/25.6k [00:00<?, ?B/s]
100% 25.6k/25.6k [00:00<00:00, 21.1MB/s]
Archive:  red-wine-quality-cortez-et-al-2009.zip
  inflating: winequality-red.csv

In [ ]:
7+3
7-3
15*5
7/8
8//2
21%2
21**2

441

In [ ]:
import pandas as pd # Here I import a library named pandas which is specialized in
# data manipulation. I give an alias pd it is a kind of pseudonyme where pd refers to pandas.
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

In [ ]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
a = 10

In [ ]:
a == 10

True

In [ ]:
Seven = 7

In [ ]:
cities = ['Paris', 'Zurich','Rome','Berlin','London']

In [ ]:
type(cities)

list

In [ ]:
cities

['Paris', 'Zurich', 'Rome', 'Berlin', 'London']

In [ ]:
cities[0]

'Paris'

In [ ]:
cities[1]

'Zurich'

In [ ]:
cities[3]

'Berlin'

In [ ]:
cities[4]

'London'

In [ ]:
cities[2] = 'Milan'

In [ ]:
cities

['Paris', 'Zurich', 'Milan', 'Berlin', 'London']

In [ ]:
cities.insert(2, 'HK')

In [ ]:
cities

['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London']

In [ ]:
cities.insert(6, 'Brussels')

In [ ]:
cities

['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Brussels']

In [ ]:
cities.append('Madrid')

In [ ]:
cities

['Paris', 'Zurich', 'HK', 'Milan', 'Berlin', 'London', 'Brussels', 'Madrid']

In [ ]:
cities.remove('HK')

In [ ]:
cities.append(rome)

In [ ]:
cities

['Paris',
 'Zurich',
 'Milan',
 'Berlin',
 'London',
 'Brussels',
 'Madrid',
 'Napels']

In [ ]:
cities.remove('Brussels')

In [ ]:
cities

['Paris', 'Zurich', 'Milan', 'Berlin', 'London', 'Madrid', 'Napels']

In [ ]:
cities.remove(rome)

In [ ]:
cities

['Paris', 'Zurich', 'Milan', 'Berlin', 'London', 'Madrid']

In [ ]:
cities.insert(3, Seven)

In [ ]:
cities

['Paris', 'Zurich', 'Milan', 7, 'Berlin', 'London', 'Madrid']

In [ ]:
cities.index(7)

3

In [ ]:
cities.append("het is s'avonds")

In [ ]:
cities

['Paris',
 'Zurich',
 'Milan',
 7,
 'Berlin',
 'London',
 'Madrid',
 "het is s'avonds"]

In [ ]:
cities.index("het is s'avonds")

7

In [ ]:
val = 15

In [ ]:
# when <-10 : very low
# when <0 : low
# when >0 : high
# when >10 : very high

val = -12
if val < -10:
  print('very low')
elif val <0:
  print('low')
else:
  print('it is zero')

very low

In [ ]:
my_new_list = [0,5,8,13,65,5,7,5,5,105,15,20]

In [ ]:
valuetoberemoved = 5
my_new_list = [value for value i nmy_new_list if value != valuetoberemoved ]

SyntaxError: ignored

In [ ]:
if

No!! There is a 7

In [ ]:
fruits = ['apple','pear','cherry']

In [ ]:
for f in fruits:
  print(f)

apple
pear
cherry

In [ ]:
length = 15
width = 12
area = length*width
area

180

In [ ]:
def area (length, Width):
  my_area = length*Width:
    return my_area

SyntaxError: ignored

In [10]:
import pandas as pd

In [11]:
import numpy as np
df = pd.read_csv ('/content/winequality-red.csv')

In [12]:
pd

In [13]:
np

In [53]:
df = pd.read_csv ('/content/winequality-red.csv')

In [15]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [16]:
df.tail(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.30,0.46,9.4,5
7,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.80,10.5,5

In [17]:
df.tail(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
1590,6.3,0.550,0.15,1.8,0.077,26.0,35.0,0.99314,3.32,0.82,11.6,6
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
1592,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1593,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [20]:
df.sample(10)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
911,9.1,0.280,0.46,9.0,0.114,3.0,9.0,0.99901,3.18,0.60,10.9,6
1526,6.8,0.470,0.08,2.2,0.064,18.0,38.0,0.99553,3.30,0.65,9.6,6
417,7.0,0.580,0.12,1.9,0.091,34.0,124.0,0.99560,3.44,0.48,10.5,5
585,7.6,0.510,0.24,2.4,0.091,8.0,38.0,0.99800,3.47,0.66,9.6,6
1160,10.6,0.360,0.57,2.3,0.087,6.0,20.0,0.99676,3.14,0.72,11.1,7
744,11.1,0.390,0.54,2.7,0.095,21.0,101.0,1.00010,3.13,0.51,9.5,5
1218,8.2,0.400,0.31,1.9,0.082,8.0,24.0,0.99600,3.24,0.69,10.6,6
1297,7.2,0.530,0.14,2.1,0.064,15.0,29.0,0.99323,3.35,0.61,12.1,6
1382,8.0,0.600,0.22,2.1,0.080,25.0,105.0,0.99613,3.30,0.49,9.9,5
771,9.4,0.685,0.26,2.4,0.082,23.0,143.0,0.99780,3.28,0.55,9.4,5

In [27]:
df.sample(10, random_state=154515154)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
360,8.2,0.700,0.23,2.00,0.099,14.0,81.0,0.99730,3.19,0.70,9.4,5
248,7.7,0.530,0.06,1.70,0.074,9.0,39.0,0.99615,3.35,0.48,9.8,6
515,8.5,0.655,0.49,6.10,0.122,34.0,151.0,1.00100,3.31,1.14,9.3,5
1093,9.2,0.310,0.36,2.20,0.079,11.0,31.0,0.99615,3.33,0.86,12.0,7
224,8.4,0.635,0.36,2.00,0.089,15.0,55.0,0.99745,3.31,0.57,10.4,4
721,8.9,0.480,0.24,2.85,0.094,35.0,106.0,0.99820,3.10,0.53,9.2,5
1368,8.0,0.770,0.32,2.10,0.079,16.0,74.0,0.99656,3.27,0.50,9.8,6
1511,7.1,0.690,0.04,2.10,0.068,19.0,27.0,0.99712,3.44,0.67,9.8,5
81,7.8,0.430,0.70,1.90,0.464,22.0,67.0,0.99740,3.13,1.28,9.4,5
213,8.2,0.570,0.26,2.20,0.060,28.0,65.0,0.99590,3.30,0.43,10.1,5

In [28]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

In [29]:
#int , float, datetime, object and string are the only types that exist. 
#float means it's a decimal
#int means integer = 1, 2 , 3 , 4 => there is no decimal
#string = no number
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [33]:
df.shape

(1599, 12)

In [34]:
len(df)

1599

In [36]:
df['fixed acidity'].head()

0     7.4
1     7.8
2     7.8
3    11.2
4     7.4
Name: fixed acidity, dtype: float64

In [37]:
df[['fixed acidity','volatile acidity']].head()

   fixed acidity  volatile acidity
0            7.4              0.70
1            7.8              0.88
2            7.8              0.76
3           11.2              0.28
4            7.4              0.70

In [38]:
df[['fixed acidity','volatile acidity','quality']].head()

   fixed acidity  volatile acidity  quality
0            7.4              0.70        5
1            7.8              0.88        5
2            7.8              0.76        5
3           11.2              0.28        6
4            7.4              0.70        5

In [54]:
mask1 = df['fixed acidity']>7

In [55]:
mask1

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool

In [49]:
df[mask1].min()

fixed acidity           7.40000
volatile acidity        0.12000
citric acid             0.00000
residual sugar          0.90000
chlorides               0.01200
free sulfur dioxide     1.00000
total sulfur dioxide    6.00000
density                 0.99007
pH                      2.74000
sulphates               0.33000
alcohol                 8.40000
quality                 3.00000
dtype: float64

In [56]:
df[mask1]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1576,8.0,0.30,0.63,1.6,0.081,16.0,29.0,0.99588,3.30,0.78,10.8,6
1580,7.4,0.35,0.33,2.4,0.068,9.0,26.0,0.99470,3.36,0.60,11.9,6
1585,7.2,0.39,0.44,2.6,0.066,22.0,48.0,0.99494,3.30,0.84,11.5,6
1586,7.5,0.31,0.41,2.4,0.065,34.0,60.0,0.99492,3.34,0.85,11.4,6
1588,7.2,0.66,0.33,2.5,0.068,34.0,102.0,0.99414,3.27,0.78,12.8,6

In [57]:
temp = df[mask1]

In [95]:
mask3 = ((df['residual sugar']>= 1.39) | (df['residual sugar'] >=2.3)) & (df['sulphates']<0.7301)

In [74]:
temp = df[mask3]

In [75]:
temp.max()

fixed acidity            15.6000
volatile acidity          1.5800
citric acid               0.7800
residual sugar           15.5000
chlorides                 0.3870
free sulfur dioxide      72.0000
total sulfur dioxide    289.0000
density                   1.0032
pH                        3.9000
sulphates                 0.7300
alcohol                  13.6000
quality                   8.0000
dtype: float64

In [77]:
df[mask3].describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000,1201.000000
mean,8.140550,0.556224,0.240708,2.527269,0.082783,15.403830,46.747710,0.996685,3.323505,0.587086,10.315723,5.505412
std,1.594306,0.178122,0.185948,1.321989,0.025046,10.010376,33.938131,0.001764,0.144469,0.075775,1.000188,0.753998
min,4.600000,0.160000,0.000000,1.400000,0.012000,3.000000,6.000000,0.990200,2.880000,0.330000,8.400000,3.000000
25%,7.100000,0.420000,0.080000,1.900000,0.071000,7.000000,21.000000,0.995620,3.220000,0.540000,9.500000,5.000000
50%,7.700000,0.560000,0.230000,2.200000,0.080000,13.000000,37.000000,0.996690,3.320000,0.590000,10.000000,5.000000
75%,9.000000,0.660000,0.380000,2.600000,0.089000,21.000000,64.000000,0.997790,3.410000,0.640000,11.000000,6.000000
max,15.600000,1.580000,0.780000,15.500000,0.387000,72.000000,289.000000,1.003200,3.900000,0.730000,13.600000,8.000000

In [84]:
def citric_acid_cat(x):
  if x < 0.21:
    return 'A'
  elif x < 0.3 :
    return 'B'
  else:
    return 'C'

In [92]:
df['citric_cat'] = df['citric acid'].apply(lambda x: citric_acid_cat(x))

In [88]:
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,NEW_NAME_citric_cat
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,A
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,A
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,A
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,C
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,A
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,A
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,A
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,A
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,C

In [93]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
NEW_NAME_citric_cat      object
citric_cat               object
dtype: object

In [99]:
mask5 = ((df['residual sugar']>= 1.39) | (df['residual sugar'] >=2.3)) & (df['sulphates']<0.7301) &(df['citric_cat'] != 'A')

In [97]:
mask5

0        True
1        True
2        True
3       False
4        True
        ...
1594     True
1595    False
1596    False
1597     True
1598    False
Length: 1599, dtype: bool

In [100]:
df[mask5]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,NEW_NAME_citric_cat,citric_cat
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6,C,C
20,8.9,0.22,0.48,1.8,0.077,29.0,60.0,0.99680,3.39,0.53,9.4,6,C,C
21,7.6,0.39,0.31,2.3,0.082,23.0,71.0,0.99820,3.52,0.65,9.7,5,C,C
26,7.6,0.41,0.24,1.8,0.080,4.0,11.0,0.99620,3.28,0.59,9.5,5,B,B
34,5.2,0.32,0.25,1.8,0.103,13.0,50.0,0.99570,3.38,0.55,9.2,5,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1574,5.6,0.31,0.78,13.9,0.074,23.0,92.0,0.99677,3.39,0.48,10.5,6,C,C
1575,7.5,0.52,0.40,2.2,0.060,12.0,20.0,0.99474,3.26,0.64,11.8,6,C,C
1580,7.4,0.35,0.33,2.4,0.068,9.0,26.0,0.99470,3.36,0.60,11.9,6,C,C
1583,6.2,0.46,0.29,2.1,0.074,32.0,98.0,0.99578,3.33,0.62,9.8,5,B,B
1598,6.0,0.31,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6,C,C

In [110]:
list_cat_to_keep = ['A','B','P','VV']

In [125]:
mask6 = (df['sulphates'] < 0.7301) & (df['citric_cat'].isin(list_cat_to_keep))
df[mask6]['citric_cat'].value_counts()

A    553
B    218
Name: citric_cat, dtype: int64

In [126]:
df[mask6]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,NEW_NAME_citric_cat,citric_cat
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,A,A
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5,A,A
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5,A,A
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5,A,A
5,7.4,0.660,0.00,1.8,0.075,13.0,40.0,0.99780,3.51,0.56,9.4,5,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1587,5.8,0.610,0.11,1.8,0.066,18.0,28.0,0.99483,3.55,0.66,10.9,6,A,A
1589,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5,A,A
1591,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6,A,A
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,A,A
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,A,A

In [135]:
df['Y'] =np.where(df['quality']>=7, 1,0)
df['Y2'] =np.where(df['quality']>=7, 1, df['quality'])

In [136]:
df.sample(n=5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,NEW_NAME_citric_cat,citric_cat,Y,Y2
254,7.1,0.60,0.00,1.8,0.074,16.0,34.0,0.99720,3.47,0.70,9.9,6,A,A,0,6
112,8.4,0.60,0.10,2.2,0.085,14.0,111.0,0.99640,3.15,0.66,9.8,5,A,A,0,5
319,9.6,0.77,0.12,2.9,0.082,30.0,74.0,0.99865,3.30,0.64,10.4,6,A,A,0,6
810,7.3,0.49,0.10,2.6,0.068,4.0,14.0,0.99562,3.30,0.47,10.5,5,A,A,0,5
265,11.8,0.26,0.52,1.8,0.071,6.0,10.0,0.99680,3.20,0.72,10.2,7,C,C,1,1

In [137]:
df = df.drop(columns=['NEW_NAME_citric_cat'])

In [138]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Y,Y2
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023,0.135710,4.810507
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569,0.342587,1.610662
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000,0.000000,1.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000,0.000000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000,0.000000,5.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000,0.000000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000,1.000000,6.000000

In [139]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
citric_cat               object
Y                         int64
Y2                        int64
dtype: object